################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/NzWalks/NzWalks.Api/obj
/NzWalks/NzWalks.Api/bin/Debug/net7.0
/NzWalks/.vs/NzWalks/v17/.suo
/NzWalks/.vs/NzWalks/DesignTimeBuild
/NzWalks/.vs/NzWalks/FileContentIndex
/NzWalks/.vs/NzWalks/v17
/.vs/Api/v17
*.config
/NzWalks/.vs/NzWalks/FileContentIndex/520d96dc-e685-4914-a544-93224fdb9fcf.vsidx
/NzWalks/.vs/ProjectEvaluation
/NzWalks/NzWalks.Web/bin/Debug/net7.0
/NzWalks/NzWalks.Web/obj
